
.container{
    max-width: 1570px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;// khi no tran no se tu xuong dong hieu nom na la vay
}
.col-md-6 {
    flex: 0 0 50%;
}
.header-top-rigth{
    ul{
        display: flex;
        justify-content: end;
        list-style: none;
        a{
            font-size: 14px;
            max-width: 50%;
        }
        li:last-child{
                cursor: pointer;
                margin-left: 20px;
                display: flex;
            span{
                font-size: 20px;
                margin-left: 2px;
            }
        }
    }
}

.header-top-left{
    ul{
        display: flex;
        justify-content: end;
        list-style: none;
        li{
            display: flex;
            
        }
        li:last-child{
            margin-left: 50px;
        }
    }

}
